<%= image_tag("logo.png", style: "height: 70%;width: 130px;margin-top: 90px;") %>
<div class="background-image">
  <div class="top-content">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4 form-box">
            <div class="form-top">
              <div class="form-top-left">
              </div>
              <div class="form-top-right">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <div class="form-bottom">
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { multipart: true }, :class => 'form-horizontal') do |f| %>
             <div class="form-group">
              <%= f.select(:title , options_for_select(['Mr',  'Miss','Mrs',  'Dr'], resource.title ), {prompt: true  } , class: "form-control", style:"height: 50px;")   %>
            </div>
            <div class="form-group">
             <%= f.label :firstname, :class => 'sr-only', :for => 'form-firstname'%> 
             <%= f.text_field :firstname, autofocus: true , :placeholder => 'Firstname' ,class: "form-firstname form-control", :id =>'form-firstname' %>
             <div class="txt">
               <%= resource.errors["firstname"].first%>
             </div>
         
            </div>
           <div class="form-group">
             <%= f.label :lastname, :class => 'sr-only', :for => 'form-lastname'%> 
             <%= f.text_field :lastname, autofocus: true , :placeholder => 'Lastname' ,class: "form-lastname form-control", :id =>'form-lastname' %>
             <div class="txt">
               <%= resource.errors["lastname"].first%>
             </div>
           </div>
           <div class="form-group">
             <%= f.label :username, :class => 'sr-only', :for => 'form-username'%> 
             <%= f.text_field :username, autofocus: true , :placeholder => 'Username' ,class: "form-username form-control", :id =>'form-username' %>
             <div class="txt">
               <%= resource.errors["lastname"].first%>
             </div>
           </div>
           <div class="form-group">
             <%= f.label :contnumber, :class => 'sr-only', :for => 'form-contact'%> 
             <%= f.text_field :contnumber, autofocus: true , :placeholder => 'Contact' ,class: "form-contact form-control", :id =>'form-contact' %>
             <div class="txt">
               <%= resource.errors["contnumber"].first%>
             </div>
           </div>
           <div class="form-group">
             <%= f.label :email, :class => 'sr-only', :for => 'form-username'%> 
             <%= f.email_field :email, autofocus: true , :placeholder => 'Email' ,class: "form-username form-control", :id =>'form-username' %>
             <div class="txt">
               <%= resource.errors["email"].first%>
             </div>
           </div>

           <div class="form-group form-browse-btn">
             Profile Pictue: 
             <%= f.file_field :avatar  %>
           </div>
           <div class="actions">
            <%= f.button class: "btn" ,style:"background: #7b868a;"%>
          </div>
          <% end %>
            <div class="col-md-4">
            </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>


