<center>
  <%= image_tag("piccati-icon.svg", class: "logo-position img-responsive") %>
  <p class="sign-up-data-align-sigin-heading">Sign up to Piccati</p>
</center>
<div>
    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="col-md-4 col-xs-3 col-sm-3"></div>
        <div class="text-center col-md-5 col-xs-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-horizontal">
                <%= form_for resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { class: "sign_up-form form-sign-up-new1", id: "signup-form" } do |f| %>
                 <!--  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">                
                    <%#= f.select(:title , options_for_select(['Mr',  'Miss','Mrs'], 'Mr' ), {prompt: false }, class: "form-title form-control zero-border form-sign-up-input-field input-lg selct-field", autofocus: true, :id => "form-title" , style: "height: 50px;border-radius: 0px;")   %>
                   </div>
                  </div> -->
                  <%#= f.select(:role_type , options_for_select(['Freelancer', 'Studio'], 'Freelancer' ), {prompt: false }, class: "form-title form-control client_fields_calandar1 zero-border mT1", :id => "form-title" , style: "height: 50px;border-radius: 0px;")   %>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                   <% placeholder = resource_name == :client ? 'First Name' : 'Studio Name' %>
                    <%= f.text_field :firstname, :placeholder => placeholder ,class: "form-firstname form-control  form-box-s zero-border mT1 form-sign-up-input-field input-lg" %>
                   </div>
                  </div>
                  <% if resource_name == :client %>
                    <div class="form-group input-field-setting">
                     <div class="col-sm-12 zero-padding">
                      <%= f.text_field :lastname, :placeholder => 'Last Name' ,class: "form-lastname form-control  form-box-s zero-border mT1 form-sign-up-input-field input-lg" %>
                     </div>
                    </div>
                  <% end %>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                    <%= f.email_field :email, :placeholder => 'Email' ,class: "form-username form-control zero-border mT1 form-sign-up-input-field input-lg" %>
                   </div>
                  </div>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                    <%= f.text_field :contnumber, :placeholder => 'Contact' ,class: "form-contact form-control zero-border mT1 form-sign-up-input-field input-lg" , style: "margin-top:0px;"%>
                   </div>
                  </div>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', class: "form-password form-control zero-border mT1 form-sign-up-input-field input-lg" %>
                   </div>
                  </div>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password Confirmation', class: "form-password form-control zero-border mT1 form-sign-up-input-field input-lg" %>
                   </div>
                  </div>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                    <%= f.check_box :terms_and_condition, class:"sign-up-checkbox" %>
                    <font class="signup-accept accept-setting">Confirm</font> <%#= link_to "terms and conditions.", "#", class: "signup-terms-link signup_buttons_popup terms-and-conditions-setting"%>
                   </div>
                  </div>
                  <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                    <button type="submit" class="button button4 mB70 form-sign-up-input-field-btn"><i class="fa fa-plus-circle btn-sign-up-registration"></i>Submit</button>
                   </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>


<div id="signup_buttons_popup" style="z-index: 9999; display: none">
  <div class="sign-up-popup" id="popupContact">
    <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "signup_buttons_popup" } %>
    <center><h2 class="form-calandar-popup-heading-top">Terms & Conditions</h2></center>
    <div class="terms-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat urna lobortis, interdum risus sed, pharetra arcu. Curabitur luctus suscipit est a auctor. Sed eget maximus nibh, in rutrum sem. Etiam et consequat nulla. Ut dui lorem, tempus id orci ornare, ultrices mollis sapien. Praesent tristique non nunc non pharetra. Maecenas feugiat augue sit amet neque pharetra posuere. Mauris leo nunc, sodales quis malesuada eget, vulputate ac magna. Nulla eu faucibus neque. Morbi imperdiet sodales ex, ac luctus felis mollis vitae. Fusce ut libero pulvinar, gravida est at, scelerisque massa.</div>
  </div>
</div>
