<div class="container">
	<center>
		<h1 class="container_heading">Listing All Photographer Plans</h1>		
	</center>
	<div class="admin_photgraphers_container">
		<% if @photographerPlans.present? %>
			
			<table class="table table-striped table-bordered">
			  <thead>
			    <tr>
			      <th>ID</th>
			      <th>First Name</th>
			      <th>Last Name</th>
			      <th>Plan</th>
			      <th>Plan Status</th>
			      <th class="border_right">Action</th>
			    </tr>
			  </thead>
				<% @photographerPlans.each do |p_plan| %>
				  <tbody>
				    <tr>
				      <td><%= p_plan.id %></td>
				      <td><%= p_plan.photographer.firstname %></td>
				      <td><%= p_plan.photographer.lastname %></td>
				      <td><%= p_plan.plan.name %></td>
				      <td><%= check_p_plan_status(p_plan) %></td>
				      <% if p_plan.pending? %>
				      	<td>
						      <%= link_to "Activate", admins_change_status_path(p_plan_id: p_plan.id), class: "btn btn-primary admin_plans_btn", remote: true %>				      		
				      	</td>
					    <% else %>
					    	<td>
						    	<%= link_to "Deactivate", admins_change_status_path(p_plan_id: p_plan.id), class: "btn btn-primary admin_plans_btn", remote: true %>					    		
					    	</td>
					    <% end %>
				    </tr>
				  </tbody>
		  	<% end %>
			</table>					
		<% else %>
			<h3>No Photographer Plans Found</h3>
		<% end %>
	</div>
</div>
