<div class="container">
	<center>
		<h1 class="container_heading">Listing All Photographers</h1>		
	</center>
	<div class="admin_photgraphers_container photographers_container">
		<% if @photographers.present? %>
			<table class="table table-striped table-bordered">
			  <thead>
			    <tr>
			      <th>ID</th>
			      <th>First Name</th>
			      <th>Last Name</th>
			      <th>Email</th>
			      <th>Role Type</th>
			      <th>Plan Type</th>
			      <th>Clients</th>
			      <th>Total Connects</th>
			      <th>Used Connects</th>
			      <th>Confirmed</th>
			    </tr>
			  </thead>
				<% @photographers.each do |p| %>
				  <tbody>
				    <tr>
				      <td><%= p.id %></td>
				      <td><%= p.firstname %></td>
				      <td><%= p.lastname %></td>
				      <td><%= p.email %></td>				      
				      <td><%= p.role_type %></td>
				      <td><%= check_plan_type(p) %></td>				      
				      <td><%= p.clients.count %></td>				      
				      <td><%= p.total_connects %></td>
				      <td><%= p.used_connects %></td>
				      <td><%= p.confirmed_at? %></td>				      
				    </tr>
				  </tbody>
		  	<% end %>
			</table>					
		<% else %>
			<h3>No Photographers Found</h3>
		<% end %>
	</div>
	<button class="btn btn-primary btn_ajax_1">Approved</button>
	<button class="btn btn-primary btn_ajax_2">Not Approved</button>
</div>
