<div class="mailer-main-body" style="padding: 45px;background-color: #eee;">
  <p>
  <div class="heading-miler-name" style="padding-bottom: 20px;">Dear <%= @photographer.fullname %>,</div>
  <%= @client.fullname %> has requested you for meeting.
  <br>
  <div class="heading-notice-mailer" style="padding-top: 5px;padding-bottom: 20px;">
    Email: <%= @client.email %><br>
    Phone: <%= @client.contnumber %><br>
    Event Type: <%= @event_name %><br>
    Event Date: <%= @enquiry.event_date %><br> 
    Number of persons: <%= @enquiry.guests %>
  </div>
  <div>Kind regards,</div>
  <div class="heading-mailer-name" style="padding-bottom: 20px;">Team Piccati</div>
</div>