<%= image_tag ("close1.png"), class: "close", data: { id: "edit_pkg_popup" } %>
<%= form_for package, validate: true, html: { class: "form-action form-calandar-popup", id: 'edit-photographer-package-setting' } do |f| %>
  <center><h2 class="form-calandar-popup-heading-top">Update Package</h2></center>
  
  <fieldset  class="form-calandar-popup-fieldset">
    <%= f.text_field :name, autofocus: true, :placeholder =>"Name", :class => "first-field client_fields client_fields_calandar" %>

    <%= f.text_field :picture_dslr_count, :placeholder =>"Number of DSLRs for Pictures", :class => "first-field client_fields client_fields_calandar" %>

    <%= f.text_field :video_dslr_count, :placeholder =>"Number of DSLRs for Video", :class => "first-field client_fields client_fields_calandar" %>

    <%= f.text_field :album_leaves, :placeholder =>"Number of Album Leaves", :class => "first-field client_fields client_fields_calandar" %>

    <%= f.text_field :price, :placeholder =>"Price", :class => "first-field client_fields client_fields_calandar" %>

    <%= f.text_field :other_city_charges, :placeholder =>"Out of City Charges", :class => "first-field client_fields client_fields_calandar" %>
      
    <button type="submit" data-package="<%= package.id %>" class="button button4 bt-add-cli btn-client-magin-zero update-package-setting client_fields_calandar"><i class="fa fa-plus-circle btn-margin-right-ten"></i>Update Package</button>

  </fieldset>
<% end %>