<table class="table table-striped header-fixed">
  <thead>
    <tr>
      <div>
        <th style="background-color: #003366;color: #fff;">
          <%= @event.name %>
        </th>
        <th style="background-color: #003366;color: #fff;">
          Bride & Groom 
        </th>
      </div>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @event.name, all_images_photographer_client_event_path(current_photographer, @event.client,@event) %></td>
      <td><%= @event.groom %> &amp; <%= @event.bridal %></td>
      <td><%= @event.created_at.strftime("%b %d, %Y") %></td>
      <td><%= link_to 'Upload-Images', photographer_client_event_path(current_photographer,@event.client,@event), class: "btn"%></td>
    </tr>
  </tbody>
</table>