	<%= render partial: "clients/package" %>
	<div style="margin-top:15px;">
		<table class="table table-striped header-fixed">
			<thead>
				<tr>
				  <div>
				    <th style="background-color: #003366;color: #fff;">
				    	Event Type
				    </th>
				    <th style="background-color: #003366;color: #fff;">
				    	No. of Photos 
				    </th>
				  </div>
			  </tr>
			</thead>
		  <tbody>
		  	<% if @events.blank? %>
		  		<tr><td><%= 'No Events' %></td></tr>
		  	<% end %>
			  <% @events.each do |event| %>
			  	<% cls = @path.present? && @path["id"] == event.id.to_s ? 'tr-selected' : "" %>
			  	<% abc = cls == "tr-selected" ? "abc" : ""%>
			  	 <% if @path.present? && @path[:action] == "index" %>
		        <% abc = "" %>
		      <% end %>
		      <tr class="events-list <%= cls %> <%= abc %>">
				    <td class="events-list <%= cls %> <%= abc %> height-event-box"><%= link_to event.name, "#", class: "show-event", data: { id: event.id } %>
				    </td>
				    <td>
				    	<%= link_to 'Add Photos', upload_image_photographer_client_event_path(current_photographer, event.client.id, event), class: "btn btn-uploadimage1" %>
				    </td>
				  </tr>
				 <% end %>
			</tbody>
		</table>
		<button class="button button4 popup event-btn" id="popup" data-id="abc"><i class="fa fa-plus-circle"></i> Add Event</button>
		</div>
		<div id="abc" style="z-index:9999">
		<!-- Popup Div Starts Here -->
			<div id="popupContact">
	<!-- Contact Us Form -->
				<%= form_for Event.new, url: photographer_client_events_path(current_photographer.id, client.id), html: { class: "form-action" } do |f| %>
					<%= image_tag ("close1.png"), class: "close", data: { id: "abc" }%>
					<center><h2>Add a Event</h2></center>
					<fieldset>
					  <%= f.text_field :name, autofocus: true, :placeholder =>"Name", :class => "first-field client_fields" %>
					  <%= f.text_field :location, autofocus: true, :placeholder =>"Location", :class => "first-field client_fields" %>
					  <%= f.text_field :bridal, autofocus: true, :placeholder =>"Bride Name", :class => "first-field client_fields" %>
					  <%= f.text_field :groom, autofocus: true, :placeholder =>"Groom Name", :class => "first-field client_fields" %>
					  <div class='input-group date' id='datetimepicker1'>
                    <input type='datetime' class="first-field client_fields" name="event[start_time]" placeholder="Select Date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            <script type="text/javascript">
		            $(function () {
		                $('#datetimepicker1').datetimepicker();
		            });
		        </script>
					 </fieldset>
					<!-- <textarea id="msg" name="message" placeholder="Message"></textarea> -->
					
					<center><%= f.button 'Add Event' , id: "submit", class: "button4 submit-event" %></center>
				<% end %>
			</div>
	<!-- Popup Div Ends Here -->
		</div>

</div>
<div class="col-md-5">
	<div class="clients-table">
	</div>
	<div class="edit-event-section">
		
	</div>
</div>
