<table class="table table-striped header-fixed">
  <thead>
    <tr class="Profile-heading">
      <div>
        <th class="heading-table-event-edit">
          <%= event.name.titleize %>
        </th>
      </div>
    </tr>
  </thead>
  <tbody class="update-event-table-height">
    <tr>
      <% if event.wedding? %>
        <td class="min-height-udate-event-tb">Bride & Groom</td>
        <td class="min-height-udate-event-tb"><%= @event.groom %> &amp; <%= @event.bridal %></td>
      <% end %>
      <td class="min-height-udate-event-tb">Event Date</td>
      <td class="min-height-udate-event-tb"><%= @event.start_time.present? ? @event.start_time.strftime("%b %d, %Y") : nil %></td>
      <td class="min-height-udate-event-tb">Event Location</td>
      <td class="min-height-udate-event-tb"><%= @event.location %></td>
      <td class="min-height-udate-event-tb">Event Description</td>
      <td class="min-height-udate-event-tb"><%= @event.description %></td>
      <% if event.client.is_connected?(current_photographer) %>
        <td class="min-height-udate-event-tb">Upload</td>
        <td class="min-height-udate-event-tb"><%= link_to 'Add Photos', "#", class: "btn btn-uploadimage1 signup_buttons_popup add-photo-click", style: "border: 1px solid #ccc;width: 105px;" %>
        </td>
        <td class="min-height-udate-event-tb">Client Selection</td>
        <td class="min-height-udate-event-tb"><%= link_to 'View Photos', selected_images_photographer_client_event_path(current_photographer, event.client, event), class: "btn btn-uploadimage1", style: "border: 1px solid #ccc;width: 105px;" %>
        <td class="min-height-udate-event-tb">Gallery</td>
        <td class="min-height-udate-event-tb"><%= link_to 'View Photos', all_images_photographer_client_event_path(current_photographer, event.client.id, event), class: "btn btn-uploadimage1", style: "border: 1px solid #ccc;width: 105px;" %>
        </td>
        <!-- <td class="min-height-udate-event-tb">Share url</td>
        <td class="min-height-udate-event-tb"><%#= link_to 'Share With Client', share_image_url_path(client_id: event.client.id), class: "btn btn-uploadimage1 share_url_client", style: "border: 1px solid #ccc;width: 131px;" %>
        </td> -->
      <% end %>
    </tr>
  </tbody>
</table>

<button class="button button4 popup update-event" data-client-id= "<%= @event.client.id %>" data-id= "<%= @event.id %>"><i class="fa fa-plus-circle"></i> Update Event</button>

<div id="signup_buttons_popup" style="z-index: 9999; display: none">
  <div class="sign-up-popup" id="popup-event">
    <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "signup_buttons_popup" } %>
    <center><h2 class="form-calandar-popup-heading-top">Add Photos</h2></center>
    <div class="sign-up-pop-alignment" style="padding-left: 50px;">
      <%= form_tag upload_images_photographer_client_event_path(current_photographer.id,@event.client.id,@event.id), class: "dropzone",style:"height: 500px; width: 1150px;", multipart: true do %>
        <div class="fallback">
          <%= file_field_tag :file %>
        </div>
      <% end %>

      <script type="text/javascript">
      $(function() {
        var myDropzone = new Dropzone(".dropzone");
        // myDropzone.on("queuecomplete", function(file) {
        //   window.location.href = "<%#= all_images_photographer_client_event_path(current_photographer.id, @event.client.id, @event.id) %>";
        // });
      });
      </script>
    </div>
  </div>
</div>
