<div class="col-md-9">
		<div class="clients-table">
		<table>
		  <tbody><tr>
		    <th style="background-color: #003366;color: #fff;">Event Name</th>
		    <th style="background-color: #003366;color: #fff;">Groom &amp; Bride</th>
		    <th style="background-color: #003366;color: #fff;">Date</th>
		    <th style="background-color: #003366;color: #fff;">No. of Photos</th>
		  </tr>
		  <% events.each do |my_event| %>
			  <tr>
			    <td><%= my_event.name %></td>
			    <td><%= my_event.groom %> &amp; <%= my_event.bridal %></td>
			    <td><%= my_event.created_at.strftime("%b %d, %Y") %></td>
			    <td>20</td>
			  </tr>
		  <% end %>
		</tbody></table>
		<button class="button button4 popup" id="popup" data-id="abc"><i class="fa fa-plus-circle"></i> Add Event</button>
		</div>
		<div id="abc">
		<!-- Popup Div Starts Here -->
			<div id="popupContact">
	<!-- Contact Us Form -->
				<%= form_for event, url: photographer_client_events_path(current_photographer.id, client.id) do |f| %>
					<%= image_tag ("close1.png"), class: "close", data: { id: "abc" }%>
					<center><h2>Add a Event</h2></center>
					<fieldset>
					  <%= f.text_field :name, autofocus: true, :placeholder =>"Name", :class => "first-field client_fields" %>
					  <%= f.text_field :location, autofocus: true, :placeholder =>"Location", :class => "first-field client_fields" %>
					  <%= f.text_field :bridal, autofocus: true, :placeholder =>"Bride Name", :class => "first-field client_fields" %>
					  <%= f.text_field :groom, autofocus: true, :placeholder =>"Groom Name", :class => "first-field client_fields" %>
					 </fieldset>
					<!-- <textarea id="msg" name="message" placeholder="Message"></textarea> -->
					
					<center><%= f.button 'Add Event' , id: "submit", class: "button4 submit-event" %></center>
				<% end %>
			</div>
	<!-- Popup Div Ends Here -->
		</div>
	</div>