<div class="col-md-4">	
	<%= render partial: "clients/package" %>
	<div style="margin-top:15px;">
		<table class="table table-striped header-fixed">
			<thead>
				<tr class="event-type-name-table-heading">
				  <div>
				    <th style="background-color: #003366;color: #fff;border-bottom-width: 0px;">
				    	Event Type
				    </th>
				    <th style="background-color: #003366;color: #fff;border-bottom-width: 0px;">
				   		Event Name 
				    </th>
				  </div>
			  </tr>
			</thead>
		  <tbody class="events-table-height">
		  	<% if events.blank? %>
		  		<tr><td><%= 'No Events' %></td></tr>
		  	<% end %>
			  <% events.each do |event| %>
		      <tr class="events-list">
				    <td class="events-list" style="padding: 16px 15px 15px 13px;">
				    	<%= event.category.name if event.category.present? %>
				    </td>
				    <td class="events-list height-event-box" >
				    	<%= link_to event.name.titleize, "#", class: "show-event", data: { client_id: event.client.id, photographer_id: current_photographer.slug, id: event.id } %>
				    </td>
				  </tr>
				 <% end %>
			</tbody>
		</table>
		<button class="button button4 client_management_popup" data-id= "add_event" data-popup="add_event_popup" data-client-id= "<%= client.id %>" ><i class="fa fa-plus-circle"></i> Add Event</button>
		</div>
		<div id="add_event_popup" style="z-index:9999">
			<div id="popupContact">
				<div id="add_event"></div>		
			</div>
		</div>

</div>
<h1 class="heading-clientlist heading-clientlist-event-detail">Event Details</h1>
<div class="col-md-5">
	<div class="clients-table">
	</div>
	<div class="edit-event-section"></div>
</div>
