<table class="table table-striped header-fixed">
  <thead>
    <tr class="Profile-heading">
      <div>
        <th class="heading-table-event-edit">
          <%= event.name %>
        </th>
      </div>
    </tr>
  </thead>
  <tbody class="update-event-table-height">
    <tr>
      <% if event.wedding? %>
        <td class="min-height-udate-event-tb">Bride & Groom</td>
        <td class="min-height-udate-event-tb"><%= @event.groom %> &amp; <%= @event.bridal %></td>
      <% end %>
      <td class="min-height-udate-event-tb">Event Date</td>
      <td class="min-height-udate-event-tb"><%= @event.start_time.present? ? @event.start_time.strftime("%b %d, %Y") : nil %></td>
      <% if event.client.is_connected?(current_photographer) %>
        <td class="min-height-udate-event-tb">Upload</td>
        <td class="min-height-udate-event-tb"><%= link_to 'Add Photos', upload_image_photographer_client_event_path(current_photographer, event.client.id, event), class: "btn btn-uploadimage1", style: "border: 1px solid #ccc;" %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<button class="button button4 popup update-event" data-client-id= "<%= @event.client.id %>" data-id= "<%= @event.id %>"><i class="fa fa-plus-circle"></i> Update Event</button>