<table class="table table-striped header-fixed">
  <thead>
    <tr class="Profile-heading">
      <div>
        <th class="heading-table-event-edit">
          <%= link_to @event.name, all_images_photographer_client_event_path(current_photographer, @event.client,@event), style: "color: #fff;" %>
        </th>
      </div>
    </tr>
  </thead>
  <tbody class="update-event-table-height">
    <tr>
      <td class="min-height-udate-event-tb">Bride & Groom</td>
      <td class="min-height-udate-event-tb"><%= @event.groom %> &amp; <%= @event.bridal %></td>
      <td class="min-height-udate-event-tb">Event Date</td>
      <td class="min-height-udate-event-tb"><%= @event.start_time.present? ? @event.start_time.strftime("%b %d, %Y") : nil %></td>
      <td class="min-height-udate-event-tb">Upload</td>
      <td class="min-height-udate-event-tb"><%= link_to 'Upload-Images', photographer_client_event_path(current_photographer,@event.client,@event), class: "btn btn-uploadimage"%></td>
    </tr>
  </tbody>
</table>

<button class="button button4 popup update-event" data-client-id= "<%= @event.client.id %>" data-id= "<%= @event.id %>"><i class="fa fa-plus-circle"></i> Add Event</button>