<h1>Clients#edit</h1>
<p>Find me in app/views/clients/edit.html.erb</p>
<%= render 'layouts/header'%>
<%= link_to('Event')%>
<div class="Edit">
<%= form_for([current_photographer,@client]) do  |f| %>
<table class="edit-table">
	<tr>
		<th>First_Name</th>
		<td><%=  f.text_field :first_name %></td>
	</tr>
	<tr>
		<th>Last_Name</th>
		<td><%=  f.text_field :last_name %></td>
	</tr>
	<tr>
		<th>User_Name</th>
		<td><%=  f.text_field :user_name %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%=  f.text_field :email %></td>
	</tr>
	<tr>
		<th>Password</th>
		<td><%= f.password_field :password %></td>
	</tr>
	
</table>
<div class="btn">
<%= submit_tag('Submit')%>
</div>
	<% end %>
</div>
