<h1>Clients#index</h1>
<p>Find me in app/views/clients/index.html.erb</p>
     <%= render 'layouts/header'%>

<div class="new">

<table>
	<tr>
		<th>Clients</th>
	</tr>

		<% @client.each do |clt| %>
	<tr>
		
	
	<td class="action"> 
	Client_Name:
	<%= clt.first_name %>
	<%#= %>
	<%= link_to('Show', photographer_client_path(current_photographer,clt.id))%>
	<%= link_to('Edit', edit_photographer_client_path(current_photographer,clt.id))%>
    <%= link_to('Event',photographer_client_events_path(current_photographer.id,clt.id))%>
	<%#= link_to('Destroy',photographer_client_path(current_photographer,clt.id), :method => 'delete')%>
	</td>
	</tr>
    <% end %>
</table>
<br>
<%= link_to('Add-new-Client',{:action => 'new'})%>
</div>