<h1><!-- :action => 'show1', :photographer_id => current_photographer.id, :client_id => @client.id -->Clients#new</h1>
<p>Find me in app/views/clients/new.html.erb</p>
<div class="new">
	<%= form_for([current_photographer,@client]) do |f| %>
	<table class="new">
	<tr>
		<th>
			FirstName:
		</th>
		<td><%= f.text_field :first_name %></td>
	</tr>
	<tr>
		<th>
			LastName:
		</th>
		<td><%= f.text_field :last_name %></td>
	</tr>
		<tr>
		<th>
			UserName:
		</th>
		<td><%= f.text_field :user_name %></td>
	</tr>
	<tr>
		<th>Email:</th>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<th>
			Password:(minium 8 characters)
		</th>
		<td><%= f.password_field  :password %></td>
	</tr>
	</table>
	<div class="btn">
		<%= submit_tag('Submit')%>
	</div>
	<% end %>
</div>
