
  
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="color:#fff;margin-top:90px;">
      <h1 style="font-size: 38px;color: #fff;"> Client Information</h1>
      <%= @client.firstname%>   <%= @client.lastname%></br>
      Username: <%= @client.username%>
  </div>
  <div class="col-md-4">
  </div>
</div> 

        
         <h1 class ="center" style="margin-top:80px;">Client Events</h1>

<div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
  <div class="table-responsive">
   <table class="table">
   
      <tr>

       <th class="center">Event Name</th>
       <th class="center">Bride Name</th>
       <th class="center">Groom Name</th>
       <th class="center">Location</th>
       <th class="center">Upload Images</th>
     </tr>
   
   <%@events.each do |event|%>
  
    <tr class="txt">
     <td><ins class="text-decor">
     <%= link_to (event.name), all_images_photographer_client_event_path(current_photographer,@client,event.id), class: "txt"%></ins></td>
     <td><%=event.bridal%></td>
     <td><%= event.groom%></td>
     <td><%= event.location %></td>
     <td><%= link_to 'Upload-Images', photographer_client_event_path(current_photographer,@client.id,event.id), class: "btn btn-link-1"%></td>
   </tr>
  <% end %>
</table>
</div>
            </div>
            <div class="col-md-3">
            </div>
</div>

<div align="center">
<%= link_to('New Events', new_photographer_client_event_path(current_photographer,@client.id), class: "btn btn-link-1")%>
</div> 
</div>
</div>
<ins><%= link_to('Back', photographer_clients_path(current_photographer) )%></ins>



