
<center style="margin-top: 50px;"><%= link_to "Buy Now", plan_update_path(plan_type: "Basic"), class: "button4" %></center>
<center style="margin-top: 50px;"><%= link_to "Buy Now", plan_update_path(plan_type: "Standard"), class: "button4" %></center>
<center style="margin-top: 50px;"><%= link_to "Buy Now", plan_update_path(plan_type: "Pro"), class: "button4" %></center>
<% flash.each do |key, value| %>
  <div class="alert"><%= value %></div>
<% end %>

<div class="container topspacing bot-spacing">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("BasicPackage.png",class: "basic-pkg") %>
      <a class="button btn-basic-pkg">Button</a>
    </div>
    <div class="col-md-4">
      <%= image_tag("StandardPackage.png",class: "basic-pkg") %>
      <a class="button btn-stadard-pkg">Button</a>
    </div>
    <div class="col-md-4">
      <%= image_tag("PremiumPackage.png",class: "basic-pkg") %>
      <a class="button btn-prem-pkg">Button</a>
    </div>
  </div>
</div>