<br><br>
<% if flash[:notice] %>
  <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<div class="container topspacing bot-spacing">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("BasicPackage.png",class: "basic-pkg") %>
      <%= link_to "Buy Now", plan_update_path(plan_type: "Basic"), class: "button btn-basic-pkg" %>
    </div>
    <div class="col-md-4">
      <%= image_tag("StandardPackage.png",class: "basic-pkg") %>
      <%= link_to "Buy Now", plan_update_path(plan_type: "Standard"), class: "button btn-stadard-pkg" %>
    </div>
    <div class="col-md-4">
      <%= image_tag("PremiumPackage.png",class: "basic-pkg") %>
      <%= link_to "Buy Now", plan_update_path(plan_type: "Pro"), class: "button btn-prem-pkg" %>
    </div>
  </div>
</div>