<div class="col-md-4 btn-calandar-description-alignment">
  <div class="wrap">
      <table class="head">
      <tbody><tr>
      <div>
        <th style="background-color: #003366;color: #fff;">
          <span class="text">
          <% @date = @date.blank? ? Date.today.strftime("%d %B %Y") : @date %>
            <center class="selected-date-div"><%= @date %></center>
          </span>
        </th>
      </div>
      </tr>
     </tbody>
     </table>
     <div class="inner_table calendar-entry-table-height">
          <table>
          <tbody>
          <% if @events.count == 0 %>
            <tr>No event scheduled for this date</tr>
          <% end %>
      <% @events.each do |event| %>
      <tr>
        <td><div class="col-md-10 heading-description-calendar"> <%= link_to event.name.titleize, '#', class: "signup_buttons_popup" %></div>
        <div class="col-md-2 btn-calandar-description-alignment">
        <!-- <button type="button" class="btn-edit-calendar"><i class="fa  fa-edit btn-edit btn-style"></i></button>
        <button type="button" class="btn-edit-calendar" id="popup" data-id="delete_event_popup"><i class="fa  fa-times btn-del btn-style" ></i></button> -->
        </div>
        <div class="col-md-12 detail-description-calendar" style="">
          <% if event.groom.present? %>
            <%= event.groom.titleize %> and <%= event.bridal.titleize %> <br>
          <% end %>
          <%= event.location %><br>
          <%= event.start_time.strftime('%a %b %d %Y %H:%M') %>
        </div>
        </td>
      </tr>
      <div id="signup_buttons_popup" style="z-index: 9999; display: none">
        <div class="sign-up-popup" id="popupContact">
          <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "signup_buttons_popup" } %>
          <div class="form-calandar-popup view-calandar-setting">
            <center><h2 class="form-calandar-popup-heading-top">Client Details</h2></center>
            <% client = event.client%>
            <div class="col-md-6 calendar-pop-table">Name</div>
            <div class="col-md-6 calendar-pop-table"><%= client.fullname%></div>
            <div class="col-md-6 calendar-pop-table">Email</div>
            <div class="col-md-6 calendar-pop-table"><%= client.email%></div>
            <div class="col-md-6 calendar-pop-table">Contact Number</div>
            <div class="col-md-6 calendar-pop-table"><%= client.contnumber%></div>
            <div class="col-md-6 calendar-pop-table">Profile</div>
            <div class="col-md-6 calendar-pop-table"><%= link_to "Full Profile", photographer_client_event_path(photographer_id: current_photographer.id, client_id: client.id, id: event.id) %></div>
            <div class="col-md-6 calendar-pop-table">Images</div>
            <div class="col-md-6 calendar-pop-table"><%= link_to "Upload Images", all_images_photographer_client_event_path(photographer_id: current_photographer.id, client_id: client.id, id: event.id) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </tbody></table></div></div>
    <button class="button button4 event-btn client_management_popup" data-calendar-type= "<%= params[:calendar_type] %>" data-id= "add_calender_event" data-popup="add_calender_event_popup" data-client-id= "" ><i class="fa fa-plus-circle"></i> Calendar Entry </button>
    <%= image_tag ("loader.gif"), id: "loading-image", style: "display:none; position: absolute; top: 208px;" %>

  <div id="add_calender_event_popup" style="z-index:9999">
  <div id="popupContact">
    <div id="add_calender_event"></div>   
  </div>
</div>
</div>
