<div id="update-event-popup">
  <div id="popupContact" >
    <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "update-event-popup" }%>
    <%= form_for event, url: client_event_path(event.client, event), method: :put, validate: true, html: { class: "form-action form-calandar-popup", id: "update-event-model" } do |f| %>
    <center><h2 class="form-calandar-popup-heading-top">Update Event</h2></center>
    <fieldset class="form-calandar-popup-fieldset">
      <%= f.text_field :name, autofocus: true, :placeholder =>"Name", :class => "first-field client_fields client_fields_calandar" %>
      <%= f.text_field :location, autofocus: true, :placeholder =>"Location", :class => "first-field client_fields client_fields_calandar" %>
      <%= f.text_field :bridal, autofocus: true, :placeholder =>"Bride Name", :class => "first-field client_fields client_fields_calandar" %>
      <%= f.text_field :groom, autofocus: true, :placeholder =>"Groom Name", :class => "first-field client_fields client_fields_calandar" %>
      
      <div class='input-group date' id='datetimepicker2'>
        <span class="input-group-addon">
          <i class="fa fa-calendar calender-icon" aria-hidden="true"></i>
        </span>
        <%= f.datetime_field :start_time, value: event.start_time.strftime("%m/%d/%Y"), autofocus: true, :placeholder =>"Select Date", :class => "first-field client_fields calendarfield-width" %>
      </div>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker2').datetimepicker();
        });
      </script>
    </fieldset>
    <div class="form-calandar-popup-fieldset">
    <%= f.button 'Update Event' , type: "submit", class: "button button4 event-submit-on-calendar border-solid-form btn-cal-width-adj" %>
    </div>
    <% end %>
  </div>
</div>
