<div id="update-event-popup">
  <div id="popupContact" >
    <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "update-event-popup" }%>
    <%= form_for event, url: client_event_path(event.client, event), method: :put, validate: true, html: { class: "form-action form-calandar-popup", id: "update-event-model" } do |f| %>
    <center><h2 class="form-calandar-popup-heading-top">Update Event</h2></center>
    <fieldset class="form-calandar-popup-fieldset">
      <%= f.text_field :name, autofocus: true, :placeholder =>"Name", :class => "first-field client_fields client_fields_calandar" %>
      <%= f.text_field :location, autofocus: true, :placeholder =>"Location", :class => "first-field client_fields client_fields_calandar" %>
      <% if event.wedding? %>
        <%= f.text_field :bridal, autofocus: true, :placeholder =>"Bride Name", :class => "first-field client_fields client_fields_calandar" %>
        <%= f.text_field :groom, autofocus: true, :placeholder =>"Groom Name", :class => "first-field client_fields client_fields_calandar" %>
      <% end %>
      <%= f.datetime_field :start_time, :value => f.object.start_time.to_datetime, :placeholder =>"Select Date", :class => "first-field client_fields calendarfield-width design-cal-field datetimepicker" %>
    </fieldset>
    <div class="form-calandar-popup-fieldset">
    <%= f.button 'Update Event' , type: "submit", class: "button button4 event-submit-on-calendar border-solid-form btn-cal-width-adj", data: { section_class: "clients-table"} %>
    </div>
    <% end %>
  </div>
</div>

