<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>
<div class="Event">
<%= render 'layouts/header'%>
<%#binding.pry%>

<%= form_for @event, url: photographer_client_events_path, html: { multipart: true } do |f| %>
	<table id="bcbc">
	<tr>
		<th>
			Name:
		</th>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<th>Choose-file</th>
		<td><%= f.file_field :image , multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
    </td>
	  </tr>
	</table>
	<div id='uploader'>

	</div>
	<div class="btn">
		<%= submit_tag('Submit')%>
	</div>
<% end %>
</div>
