<div class="container">
  <% if liked_images(@event).present? %>
    <div class="col-md-12">
      <div class="col-md-12 text-alignment-heading-album">
        <span class="album-text-align"><%= @event.name.titleize %></span>
        <span class="text-para">by <span class="artist-name"><%= @event.client.firstname.titleize+" "+@event.client.lastname.titleize %></span>
          <span class="pull-right">
          <%= link_to "CSV", selected_images_photographer_client_event_path(current_photographer, @event.client, @event, format: "csv") %> |<%= link_to 'Back', photographer_client_event_path(current_photographer, @event.client, @event), class: "add-album-tag" %></span>
        </span>
      </div>
      <div class="col-md-12 album-text-align text-para"> 
        <hr class="hr-album1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom:50px;">
        <ul style="list-style:none;" class="ul-li">
          <% liked_images(@event).each do |img| %>
            <li style="display: inline;margin-bottom:35px; margin-right: 35px;" data-src="<%= img.image.url%>" class="col-md-2 zero-padding cursor-pointer">
              <img style="width: 100%;" src="<%= img.image.url(:medium) %>" />
              <span><%= img.name %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="col-md-12">
      <div class="col-md-12 text-alignment-heading-album">
        <span class="album-text-align"><%= @event.name.titleize %></span>
        <span class="text-para">
          <span class="pull-right">
            <%= link_to 'Back', photographer_client_event_path(current_photographer, @event.client, @event), class: "add-album-setting-heading" %>
          </span>
        </span>
      </div>
      <div class="col-md-12 album-text-align text-para"> 
        <hr class="hr-album1">
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.ul-li').lightGallery();
  });
</script>