<div class="container">
  <div class="col-md-12">
  </div>
	<% if @albums.present? %>
    <div class="col-md-12">
      <div class="col-md-12 text-alignment-heading-album">
        <span class="album-text-align">All Albums</span>
        <span class="text-para">by <%= current_photographer.firstname.titleize+" "+current_photographer.lastname.titleize %>
          <span class="pull-right button-album-back-pictres">
            <i class="fa fa-plus-circle"></i>
            <%= link_to "Add Album", "#", class: "client_management_popup add-album-setting-heading", data: { id: "add_album", popup: "add_album_popup", client_id: "" } %>
          </span>
        </span>
      </div>
      <div class="col-md-12 album-text-align text-para"> 
    		<hr class="hr-album1">
    	</div>
    </div>
      <div class="row">
        <div class="col-md-12" style="margin-bottom:50px;">
          <ul style="list-style:none;" class="ul-li">
            <% @albums.each do |album| %>
              <li style="display: inline;margin-bottom: 35px; margin-right: 35px;" class="col-md-2 zero-padding cursor-pointer">
                <% if album.images.present? %>
                  <%= link_to image_tag(album.images.first.image.url(:medium), style: "width: 100%;"), photographer_album_path(current_photographer, album) %>
                <% else %>
                  <%= link_to image_tag("default-album.png", width: 183, height: 183), photographer_album_path(current_photographer, album) %>
                <% end %>
                <span class="text-alignment-heading-album" style="float:left;margin-top:10px;"><%= album.name %> | <%= link_to "Delete", "#", class: "signup_buttons_popup", style: "color: white;" %> 
                </span>
                  <div id="signup_buttons_popup" style="z-index: 9999; display: none">
                    <div class="sign-up-popup" id="popupContact">
                      <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "signup_buttons_popup" } %>
                      <div class="form-calandar-popup">
                        <center><h2 class="form-calandar-popup-heading-top">Signup</h2></center>
                        <p class="del-album-text-popup">Are you sure you want to delete?</p>
                        <%= link_to "Cancel", "#", class: "button button4 btn-album-popup-adj border-solid-form close-album-modal" %>
                        <%= link_to 'Delete', photographer_album_path(photographer_id: current_photographer.id, id: album.id), class: "button button4 btn-album-popup-adj border-solid-form", method: :delete %>
                      </div>
                    </div>
                  </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  <% else %>
<div class="col-md-12">
        <div class="col-md-12 text-alignment-heading-album">
          <span class="album-text-align">No Album Uploaded</span>
          <span class="text-para">
            <span class="pull-right button-album-back-pictres">
      <i class="fa fa-plus-circle"></i>
      <%= link_to "Add Album", "#", class: "client_management_popup add-album-setting-heading", data: { id: "add_album", popup: "add_album_popup", client_id: "" } %>
    </span>
          </span>
        </div>
        <div class="col-md-12 album-text-align text-para"> 
          <hr class="hr-album1">
        </div>
  <% end %>
</div>

</div>
    <div id="add_album_popup" style="z-index:9999">
      <div id="popupContact">
        <div id="add_album"></div>    
      </div>
    </div>
