<div class="container">
  <button class="button button4 popup album-btn" id="popup" data-id= "abc2" ><i class="fa fa-plus-circle"></i> Add Album</button>
	<% if @albums.present? %>
    <% @albums.each do |album| %>
      <div class="col-md-12">
        <div class="col-md-12 text-alignment-heading-album">
          <span class="album-text-align"><%= album.name.titleize %></span>
          <span class="text-para">by <%= album.photographer.firstname.titleize+" "+album.photographer.lastname.titleize %><span class="pull-right"><%= link_to 'Add Pictures', photographer_album_public_image_path(album_id: album.id), class: "add-album-tag" %> <!-- | !--> <%#= link_to 'Edit', edit_photographer_album_path(id: album.id), class: "add-album-tag" %></span></span>
      	</div>
      	<div class="col-md-12 album-text-align text-para"> 
      		<hr class="hr-album">
      	</div>
    	</div>
      <div class="row">
        <div class="col-md-12" style="margin-bottom:50px;">
          <ul style="list-style:none;" class="ul-li">
            <% album.images.each do |img| %>
              <li style="display: inline;margin-bottom:30px; margin-right: 10px;" data-src="<%= img.image.url%>" class="col-md-2 zero-padding cursor-pointer">
                <img style="width: 100%;" src="<%= img.image.url(:medium) %>" />
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-12">
        <div class="col-md-12 text-alignment-heading-album">
          <span class="album-text-align">No Album Uploaded</span>
        </div>
        <div class="col-md-12 album-text-align text-para"> 
          <hr class="hr-album">
        </div>
      </div>
  <% end %>
</div>

  <div id="abc2" style="z-index: 9999">
    <!-- Popup Div Starts Here -->
      <div id="popupContact">
        <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "abc2" } %>
        <!-- Contact Us Form -->
        <%= form_for current_photographer.albums.new ,url: photographer_albums_path(current_photographer), method: :post, validate: true, html: { id: "add-photographer-album", class: "form-action form-calandar-popup" } do |f| %>
          <center><h2 class="form-calandar-popup-heading-top">Add an album</h2></center>
          <fieldset class="form-calandar-popup-fieldset">
              <div class="row">
                <div class="email-add-client-field-view">
                  <%= f.text_field :name, autocomplete: :off, autofocus: true, placeholder: "Album name", class: "first-field client_fields client_fields_calandar", style: "border: 1px solid #cccccc !important;" %>
                </div>
                <div class="email-add-client-field-view">
                  <%= f.text_area :description, autocomplete: :off, placeholder: "Album description", class: "first-field client_fields client_fields_calandar", style: "border: 1px solid #cccccc !important; font-size: 24px; font-family: 'SegoeUI'; height: 150px;"%>
                </div>
                <br>
                  <%= f.submit 'Add Album' , class: "button button4 bt-add-cli client_fields_calandar submit-album" %>
              </div>
          </fieldset>
        <% end %>
      </div>
    <!-- Popup Div Ends Here -->
  </div> 

<script type="text/javascript">
  $(document).ready(function() {
    $('.ul-li').lightGallery();
  });
</script>
