<p id="notice"><%= notice %></p>
<br><br><br><br><br>
Name: <%= @album.name%><br>
Description: <%= @album.description%><br>

<ul style="list-style:none;" id="ul-li">
	<% @album.images.each do |img| %>
	  <li style="display: inline;" data-src="<%= img.image.url%>">
	    <img class= "img-rounded" style=" width: 300px; height: 200px; " src="<%= img.image.url(:medium) %>" />
	  </li>
	<% end %>
</ul>
<%= link_to 'Add Pictures', photographer_album_public_image_path(album_id: @album.id)%> |
<%= link_to 'Edit', edit_photographer_album_path(id: @album.id) %>

<script type="text/javascript">
  $(document).ready(function() {
  	$('#ul-li').lightGallery();
  });
</script>