<input id="year-n-month-picker" type="text">
<div class="simple-calendar">
  <div class="calendar-heading">
    <% if request.xhr? %>
      <%= link_to t('simple_calendar.previous', default: 'Previous'), "/photographers/#{current_photographer.id}/events_info?start_date=#{start_date.last_month}" %>
      <!-- <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle caret-calander" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <%# t('date.month_names').compact.each do |month| %> 
            <a class="dropdown-item drop-cal-selector" style="color:#003366;" href="/photographers/<%#= current_photographer.id %>/events_info?start_date=<%#= month.to_date.to_formatted_s(:db)%>"><%#= month %></a>
          <%#end%>
        </div>
      </div> -->
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('simple_calendar.next', default: 'Next'), "/photographers/#{current_photographer.id}/events_info?start_date=#{start_date.next_month}" %>
    <% else %>
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <!-- <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle caret-calander" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
          <%# t('date.month_names').compact.each do |month| %> 
            <a class="dropdown-item drop-cal-selector" style="color:#003366;" href="/photographers/<%#= current_photographer.id %>/events_info?start_date=<%#= month.to_date.to_formatted_s(:db)%>"><%#= month %></a>
          <%#end%>
        </div>
      </div> -->
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <div class="today-date"><% block.call day.strftime("%d"), sorted_events.fetch(day, []) %></span></div>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('#year-n-month-picker').Monthpicker();
  });
</script>