<center>
  <%= image_tag("piccati-icon.svg", class: "logo-position") %>
  <p class="sign-up-data-align-sigin-heading">Log in to Piccati</p>
</center>
<div>
    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="col-md-4 col-xs-3 col-sm-3"></div>
        <div class="text-center col-md-5 col-xs-12 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-horizontal">
                 <%= form_for resource, as: resource_name, url: session_path(resource_name), validate: true , html: { class: 'login-form login-sign-up-button-padd form-sign-up-new1' } do |f| %>
                 <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                     <%= f.email_field :email , :placeholder => 'Email' ,class: "form-username form-control input-lg form-sign-in-input-field", :id =>'form-username' %>
                   </div>
                 </div>
                 <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                      <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', class: "form-password form-control input-lg form-sign-in-input-field", :id =>'password' %>
                    </div>
                 </div>
                 <div class="form-group input-field-setting">
                  <div class="col-sm-12 zero-padding">
                    <button type="submit" class="button button4 form-sign-in-input-field-btn">Log In</button>
                  </div>
                 </div>
                <% end %>
              </div>
            </div>
          </div>
    <div>
      <div class="col-md-10 col-xs-12"><%= link_to "Sign Up Now!", new_photographer_registration_path, class: "btn-sign-in-index-pg signup_buttons_popup" %></div>
      <div class="col-md-10 col-xs-12"><%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn-sign-in-index-pg" %></div>
    </div>
       </div>
      </div>
    </div>
</div>
<div id="signup_buttons_popup" style="z-index: 9999; display: none">
  <div class="sign-up-popup" id="popupContact">
    <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "signup_buttons_popup" } %>
    <center><h2 class="form-calandar-popup-heading-top">Signup</h2></center>
    <%= link_to "Sign Up As Photographer", new_photographer_registration_path, class: "button button4 btn-cal-width-adj border-solid-form" %>
    <%= link_to "Sign Up As Client", new_client_registration_path, class: "button button4 btn-cal-width-adj border-solid-form" %>
  </div>
</div>

