<div class="tab-pane fade active in" id="security">
  <div class="col-md-6 "> 
    <div class="col-md-12 editprofileheading">
      <p class="edit-prfile-para">Change Password</p>
    </div>
    <div class="col-md-12 background-main-edit-profile background-security-password pl" >
      <fieldset>
      <div class="message asd"></div>
        <%= form_for current_photographer, url: update_password_photographer_path(current_photographer), validate: true, html: { id: "password-update", class: 'dropdown-edit form-edit-profile-view '} do |f| %>
        <div style="margin-top:15px;margin-bottom:15px;">
          <%= f.password_field  :current_password, :placeholder => 'Current Password' ,class: "first-field name-field zero-border form-control cur-pass error-message-update-password", :id =>'form-current_password' %>
          <p class="current-error-p-tag">can't be blank</p>
          <%= f.password_field :password, autocomplete: "off", :placeholder => 'New Password', class: "first-field name-field mT1 zero-border form-control pass error-message-update-password", :id =>'form-password' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em> 
          <% end %>
          <p class="password-error-p-tag">can't be blank</p>
          <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password Confirmation', class: "pass-conf mT1 first-field name-field zero-border form-control error-message-update-password", :id =>'form-confirm-password' %>
          <p class="confirm-error-p-tag">can't be blank</p>
        </div>
        <%= f.submit "Update and Save Profile", class: "button button4 password-edit error-message-update-password" %>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>