<div class="background-image">
  <div class="top-content">
    <div>
      <div class="container">
        <div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="form-bottom">
              <%= form_for @photographer, url: update_password_photographer_path, html: { class: 'form-horizontal form-edit-password-setting reset-password' } do |f| %>
            <div class="editprofileheading reset-password-input1">
                <p class="edit-prfile-para">Change Password</p>
            </div>
            <fieldset>
              <div>
                <%= f.password_field  :current_password, autofocus: true , :placeholder => 'Current Password' ,class: "form-current_password form-control mT1 reset-password-input", :id =>'form-current_password' %>
              </div>
              <div >
               <%= f.password_field :password, autocomplete: "off", :placeholder => 'New Password', class: "form-password form-control mT1 reset-password-input", :id =>'form-password' %>
              </div>
             <div>
               <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password Confirmation', class: "reset-password-input form-password form-control mT1", :id =>'form-password' %>
              </div>
             <div class="actions">
              <%= f.button 'Update password', class: "button button4 bt-add-cli reset-password-input" %>
            </div>
            </fieldset>
            <% end %>
             
          </div>
        </div>
          <div class="col-md-4">
          </div>
      </div>
    </div>
  </div>
</div>
</div>


