  <%= image_tag("logo.png", style: "height: 70%;width: 130px;margin-top: 90px;") %>
  <div class="background-image">
    <div class="top-content">
      <div >
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">

            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 form-box">
              <div class="form-top">
                <div class="form-top-left">
                </div>
                <div class="form-top-right">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <div class="form-bottom">
                <%= form_for(:photographer, url:   update_password_photographer_path ,:id => @photographer.id, :class => 'form-horizontal') do |f| %>

                <div class="form-group">
                  <%= f.label :current_password, :class => 'sr-only', :for => 'form-current_password'%> 
                  <%= f.password_field  :current_password, autofocus: true , :placeholder => 'Current Password' ,class: "form-current_password form-control", :id =>'form-current_password' %>
                  <% if @photographer.errors.present? %>
                  <div class="txt">
                    <%= @photographer.errors["current_password"].first%>
                  </div>
                  <% end %>
                </div>
                <div class="form-group">
                 <%= f.label :password , :class => 'sr-only', :for =>'form-password' %>
                 <%= f.password_field :password, autocomplete: "off", :placeholder => 'New Password', class: "form-password form-control", :id =>'form-password' %>
                 <% if @minimum_password_length %>
                 <em>(<%= @minimum_password_length %> characters minimum)</em> 
                 <% end %>
                 <% if @photographer.errors.present? %>
                 <div class="txt">
                   <%= @photographer.errors["password"].first%>
                 </div>
                 <% end %>
               </div>
               <div class="form-group">
                 <%= f.label :password_confirmation , :class => 'sr-only', :for =>'form-password' %>
                 <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password Confirmation', class: "form-password form-control", :id =>'form-password' %>
                 <% if @photographer.errors.present? %>
                 <div class="txt">
                   <%= @photographer.errors["password_confirmation"].first%>
                 </div>
                 <% end %>
               </div>
               <div class="actions">
                <%= f.button 'Update password',class: "btn" ,style:"background: #7b868a;"%>
              </div>
              <% end %>
               
            </div>
          </div>
            <div class="col-md-4">
            </div>
        </div>
          <ins><%= link_to("Back", photographer_path(current_photographer)) %></ins>
      </div>
    </div>
  </div>
</div>


