
<div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="margin-top:40px;">
<div class="events-info">
    <h1 class="center"><b>Events Details</b></h1>  
</div>
<div>	
  <table class="table">
     <tr>
       <th class="center">Client Name</th>
       <th class="center">Event Name</th>
       <th class="center">Bride</th>
       <th class="center">Groom</th>
       <th class="center">Location</th>
     </tr>
     <% @events.each do |event| %>
     <tr class="center">
       <td> <ins class="text-decor"> <%= link_to(event.client.firstname, photographer_client_path(current_photographer,event.client.id), class: "txt") %> </ins></td>
       <td><ins class="text-decor"><%= link_to(event.name ,all_images_photographer_client_event_path(current_photographer,event.client.id,event.id), class: "txt") %></ins></td>
       <td class="txt"><%= event.bridal%></td>
       <td class="txt"><%= event.groom%></td>
       <td class="txt"><%= event.location%></td>
       <% end %> 
     </tr>
 </table>
</div>
            </div>

            <div class="col-md-3" >
            </div>
</div>