<div class="dropdown col-md-12 drop-down-btn-cal">
  <button class="btn btn-default dropdown-toggle button_class drop-down-btn-cal-beauty" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Monthly
    <span class="caret drop-down-btn-cal-beauty"></span>
  </button>
  <ul class="dropdown-menu dropdown-cal-ul" aria-labelledby="dropdownMenu1">
    <li class="btn-drop-padding-li"><%= link_to "Monthly", photographer_events_info_path(calendar_type: "month"), class: 'month-sel link-padding-zero', remote: true %></li>
    <li><%= link_to "Weekly", photographer_events_info_path(calendar_type: "week"), class: 'week-sel link-padding-zero', remote: true %></li>
  </ul>
</div>
<div>
	<div class="calender_and_info">
		<%= render partial: "calender_and_info", calendar_event: @calendar_event %>
	</div>
</div>
		<div id="abc2">
		<!-- Popup Div Starts Here -->
			<div id="popupContact">
	<!-- Contact Us Form -->
				<%= form_for Event.new, url: create_calender_event_path, validate: true, html: { id: "add-calender-event-model", class: "form-action" } do |f| %>
					<%= image_tag ("close1.png"), class: "close", data: { id: "abc2" }%>
					<center><h2>Add a Event</h2></center>
					<fieldset>
					  <%= f.text_field :name, autofocus: true, :placeholder =>"Name", :class => "first-field client_fields" %>
					  <%= f.text_field :location, autofocus: true, :placeholder =>"Location", :class => "first-field client_fields" %>
					  <%= f.text_field :bridal, autofocus: true, :placeholder =>"Bride Name", :class => "first-field client_fields" %>
					  <%= f.text_field :groom, autofocus: true, :placeholder =>"Groom Name", :class => "first-field client_fields" %>
					  <%= f.select(:client_id , options_from_collection_for_select(current_photographer.clients, "id", "firstname"), { prompt: "Select client"  }, class: "form-title form-control", :id => "form-title" , style: "height: 50px;")   %>
					  
					  <div class='input-group date' id='datetimepicker1'>
              <%= f.datetime_field :start_time, autofocus: true, :placeholder =>"Select Date", :class => "first-field client_fields" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <script type="text/javascript">
		            $(function () {
		                $('#datetimepicker1').datetimepicker();
		            });
		        </script>
					 </fieldset>
					<!-- <textarea id="msg" name="message" placeholder="Message"></textarea> -->
					
					<center><%= f.button 'Add Event' , id: "submit", class: "button4 event-submit-on-calendar" %></center>
				<% end %>
			</div>
	<!-- Popup Div Ends Here -->
		</div>