<div class="background-image">
  <div class="top-content topspacing">
    <div class="container-fluid">
      <div class="col-md-3 col-xs-12 col-sm-6">
      <div class="connect-client">
        <table>
          <tbody class="nav nav-tabs zero-border-bottom">
            <tr class="Profile-heading zero-border-bottom">
               <th class="tbheaderback zero-border-bottom">
                <div class="col-md-10 col-xs-11">
                  <%= link_to "Connect Client", "#",  data: { id: "connect_client" }, class: "" %> 
                </div>   
                <div class="col-md-2"><i class="fa fa-angle-right font-awesome-size"></i></div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="show_settings">
        <div class="tab-pane fade active in" id="connect">
          <div class="col-md-4 col-xs-12 col-sm-6"> 
            <div class="col-md-12 editprofileheading">
              <p class="edit-prfile-para">Search Client to Connect With</p>
            </div>
            <div class="col-md-12 background-main-edit-profile background-security-password">
              <fieldset>
                <div id="connect-message"></div>
                <div style="margin-top:15px;margin-bottom:15px;">
                  <%= select_tag "Clients", options_from_collection_for_select(@clients, :id, :firstname), id: "select2-client-id", class: "first-field name-field zero-border full-width-show" %> 
                </div>
                <div class="">
                  <%= link_to "Connect Client", "#", class: "button button4", id: "connect-client-id" %>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#select2-client-id').select2({
      formatNoMatches: function() {
        return 'No Match Found!';
      }
    });
    if ('<%= params[:client_id].to_i %>' == 0) {
      $(".select2-chosen").text("Select a Client"); 
    }else{
      $('#select2-client-id').select2().select2("val", '<%= params[:client_id] %>');
    } 
  });
</script>