
 
<div>
<br></br>
<br></br>
<br></br>

<h1 class="center"><b> Photographer Profile</b></h1>
</div>
<%#binding.pry%>
<div>
    <table class="table">
      
      <tbody>
        <tr  class="txt">
             
          <td  class="text-right">First name:</td>
          <td width ="50%" class="text-left"><%= @photographer.firstname%></td>
        </tr>
        <tr  class="txt">
         
          <td  class="text-right">Last name:</td>
          <td  class="text-left"><%= @photographer.lastname%></td>
        </tr>
        <tr  class="txt">
         
          <td class="text-right">User name:</td>
          <td  class="text-left"><%= @photographer.username%></td>
        </tr>
        <tr  class="txt">
         
          <td class="text-right">Email:</td>
          <td  class="text-left"><%= @photographer.email%></td>

          Picture:
          <%= image_tag current_photographer.avatar(:medium) %>
        </tr>
        

      </tbody>
    </table>
  </div>

                      