<div style="margin-top:80px;"></div>
<div>
  <div class="container">
    <div class="col-md-12" style="margin-top:150px;margin-left: 60px;">
      <div class="col-md-3">
        <%= link_to photographer_clients_path(current_photographer) do %>
        <div class="boxhead pictureContainer">
          <center><%= image_tag("client-ani.png") %></center>
        </div>
        <p class="menu-first-page">Client Management</p>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to photographer_events_info_path(current_photographer) do %>
          <div class="boxhead pictureContainer">
            <center><%= image_tag 'calender-ani.png'%></center>
          </div>
          <p class="menu-first-page" style="text-indent: 1em;">My Calendar</p>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to photographer_albums_path(current_photographer) do %>
        <div class="boxhead pictureContainer">  
            <center><%= image_tag("album-ani.png") %></center>
          </div>
          <p class="menu-first-page" style="text-indent: 1em;">My Albums</p>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to settings_photographer_path(current_photographer) do %>
        <div class="boxhead pictureContainer">
          <center><%= image_tag("setting-ani.png") %></center>
        </div>
        <p class="menu-first-page" style="text-indent: 2.5em;">Connects</p>
        <% end %>
      </div>
    </div>
  </div>
</div>