<div class="container">
        <div class="row">
          <div class="col-md-4" >
          </div>
          <div class="col-md-4" style="margin-top:30px;color: #fff;">
              <%= image_tag current_photographer.avatar(:medium) , class: "img-circle", style: "height: 200px;width: 200px; margin-top:100px;" %>
              <h1 style="font-size: 38px;color: #fff;"><%= @photographer.title%> <%= @photographer.firstname%>   <%= @photographer.lastname%></h1>
              <%= @photographer.email%></br>
              Username: <%= @photographer.username%></br>
              Memory Consumed: -----
          </div>
          <div class="col-md-4">
          </div>
        </div>
</div>