<center>
  <%= image_tag("piccati-icon.svg", class: "logo-position") %>
  <p class="sign-up-data-align-sigin-heading">Set Password</p>
</center>
<div>
    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="text-center col-md-5 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-horizontal">
                 <%= form_for resource, as: resource_name, url: invitation_path(resource_name), validate: true , html: { method: :put, class: 'login-form login-sign-up-button-padd form-sign-up-new1' } do |f| %>
                 <%= f.hidden_field :invitation_token %>
                 <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                      <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', class: "form-password form-control input-lg form-sign-in-input-field" %>
                    </div>
                 </div>
                 <div class="form-group input-field-setting">
                   <div class="col-sm-12 zero-padding">
                      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Password Confirmation', class: "form-password form-control input-lg form-sign-in-input-field" %>
                    </div>
                 </div>
                 <div class="form-group input-field-setting">
                  <div class="col-sm-12 zero-padding">
                    <%= f.submit "Set Password", class: "button button4 form-sign-in-input-field-btn" %>
                  </div>
                 </div>
                <% end %>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
</div>

