
  <div>
    <br></br>
    <br></br>
    <br></br>
    

    
       <h1 class="center"><b>Events Details</b></h1>
     
  </div>
</div>
<div>	
  <table class="table">

     <tr>

       <th class="center">Client Name</th>
       <th class="center">Event Name</th>
       <th class="center">Bride</th>
       <th class="center">Groom</th>
       <th class="center">Location</th>

     </tr>

 

     <% @event.each do |eve| %>
     <tr class="center">
       <td> <ins> <%= link_to(eve.client.first_name, api_v1_photographer_client_path(current_photographer,eve.client.id), class: "txt") %> </ins></td>
       <td><ins><%= link_to(eve.name ,all_images_api_v1_photographer_client_event_path(current_photographer,eve.client.id,eve.id), class: "txt") %></ins></td>
       <td class="txt"><%= eve.bridal%></td>
       <td class="txt"><%= eve.groom%></td>
       <td class="txt"><%= eve.location%></td>
       <% end %> 
     </tr>
 </table>
</div>
</div>

