
  <br></br>
   <h1 class="center"> Client Info</h1> 


  <table class="table">
        
        <tbody>
          <tr  class="txt">
               
            <td width ="50%" class="text-right">Firstname:</td>
            <td  class="text-left"><%= @client.first_name%></td>
          </tr>
          <tr  class="txt">
           
            <td  class="text-right">Last Name:</td>
            <td  class="text-left"><%= @client.last_name%></td>
          </tr>
          <tr  class="txt">
           
            <td  class="text-right">Username:</td>
            <td class="text-left"><%= @client.user_name%></td>
          </tr>
         
        </tbody>
      </table>
        
         <h3 class ="center">Client Events</h3>


  <div class="table-responsive">
   <table class="table">
   
      <tr>

       <th class="center">Event Name</th>
       <th class="center">Birde Name</th>
       <th class="center">Groom Name</th>
       <th class="center">Location</th>
       <th class="center">Upload Images</th>
     </tr>
   
   <%@events.each do |eve|%>
  
    <tr class="txt">
     <td><ins>
     <%= link_to (eve.name),all_images_api_v1_photographer_client_event_path(current_photographer,@client,eve.id), class: "txt"%></ins></td>
     <td><%=eve.bridal%></td>
     <td><%= eve.groom%></td>
     <td><%= eve.location %></td>
     <td><%= link_to 'Upload-Images', api_v1_photographer_client_event_path(current_photographer,@client.id,eve.id), class: "btn btn-link-1"%></td>
   </tr>



 <% end %>
</table>
</div>
<%# end %>
 
                           
                     
                           
<div align="center">
<%= link_to('New Events', new_api_v1_photographer_client_event_path(current_photographer,@client.id), class: "btn btn-link-1")%>
 <%#= link_to('New Events', new_api_v1_photographer_client_event_path(current_photographer,@client.id), class: "btn")%>
</div> 
</div>
</div>
<%= link_to('Back',  api_v1_photographer_clients_path(current_photographer) )%>



