<div style="margin-top:80px;"></div>
<div class="container">
  <div class="col-md-3">
    <h1 class="heading-clientlist">Client List</h1>
    <div>
      <table class="table table-striped header-fixed">
        <thead>
          <tr class="Profile-heading">
            <div>
              <th class="table-row-width" style="background-color: #003366;color: #fff;border-bottom-width: 0px;">
                <div id="container">
                  <div id="navi">Client Name</div>
                  <div id="infoi">
                    <form class="searchbox">
                      <input type="search" placeholder="Search......" name="search" class="searchbox-input color-picker" onkeyup="buttonUp();" required>
                      <input type="submit" class="searchbox-submit" value="GO">
                      <span class="searchbox-icon"><i class="fa  fa-search" style="font-size: 21px;color: #fff;"></i></span> 
                    </form>
                  </div>
                </div>
              </th>
            </div>
          </tr>
        </thead>
        <tbody class="client-table-setting">
          <% @clients.each do |client| %>
            <%cls = @path.present? && @path[:client_id] == client.id.to_s ? 'tr-selected' : "" %>
            <% abc = cls == "tr-selected" ? "abc" : ""%>
            <% if @path.present? && @path[:action] == "index" %>
              <% abc = "" %>
            <% end %>
            <tr class="clients-list <%= cls %> <%= abc %> tr-selection">
              <td class="table-row-width zero-border">
                <div class="col-md-7 center-align-tag">
                  <%= link_to client.firstname, "#", class: "show-client-events", data: { id: client.id } %>
                </div>
                <div class="col-md-5">
                  <button class="client-id" type="button" style="background-color: Transparent;background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline:none;width: 45%;height: 30px;" id="popup" data-client="<%= client.id %>" data-id= "edit_client_popup" data=c = "<%= client.id %>" class="popup edit_client_package"><i class="fa  fa-edit btn-edit" style="font-size: 16px;color: #ddd;"></i></button>
                  <button type="button" style="background-color: Transparent;background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline:none;width: 45%;height: 30px;"><i class="fa  fa-times btn-del" style="font-size: 16px;color: #ddd;"></i></button>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="button button4 popup" id="popup" data-id= "abc2" ><i class="fa fa-plus-circle"></i> Add Client</button>
    </div>
    <div id="abc2" style="z-index: 9999">
    <!-- Popup Div Starts Here -->
      <div id="popupContact">
  <!-- Contact Us Form -->
        <%= form_tag(connect_client_clients_path, method: :post, class: "form-action") do %>
          <%= image_tag ("close1.png"), class: "close", data: { id: "abc2" } %>
          <center><h2>Add a Client</h2></center>
          <fieldset>
              <%#= f.text_field :username, autofocus: true, :placeholder =>"User Name", :class => "first-field client_fields" %>
              <div class="row">
                <div class="col-md-9 email-add-client-field-view">
                  <%= text_field_tag "email", "", autocomplete: :off, autofocus: true, placeholder: "Email", class: "first-field client_fields search_client_email ", style: "border: 1px solid !important;" %>
                </div>
                <div class="col-md-3 zero-padding">
                  <center><button type="submit" id="submit" class="button4 bt-add-cli">Add Client </button></center>
                </div>
              </div>
              <div class="searched_email row">
              </div>
          </fieldset>
        <% end %>
      </div>
  <!-- Popup Div Ends Here -->
    </div>
  </div>

  <div id="edit_client_popup" style="z-index: 9999; display: none">
    <div id="popupContact">
      <div class="edit-package-form"></div>
    </div>
  </div>
  <div class="events-section"></div>
  
</div>