<div class="container-fluid">
  <div class="col-md-3">
    <h1 class="heading-clientlist">My Clients</h1>
    <div>
      <table class="table header-fixed">
        <thead>
          <tr class="Profile-heading mH52">
            <div>
              <th class="table-row-width heading-table-client">
                <div id="container">
                  <div id="navi">Clients</div>
                  <button4 id="navi1" class="btn btn-client signup_buttons_popup">Import</button4>
                  <%= link_to "Export", photographer_export_clients_csv_path(format: "csv", photographer_id: current_photographer.id), class:"btn btn-client", id: "navi2" %>
                  <div id="infoi">
                    <form class="searchbox">
                      <input type="search" placeholder="Search......" name="search" class="searchbox-input color-picker" onkeyup="buttonUp();" required>
                      <input type="submit" class="searchbox-submit" value="GO">
                      <span class="searchbox-icon"><i class="fa  fa-search" style="font-size: 21px;color: #fff;float: right;"></i></span> 
                    </form>
                  </div>
                </div>
              </th>
            </div>
          </tr>
        </thead>
        <tbody class="client-table-setting">
          <% if @clients.blank? %>
            <tr>
              <td class="empty-tb-setting">
                No Client Found
              </td>
            </tr>
          <% end %>
          <% @clients.each do |client| %>
            <tr class="photographer-clients-list">
              <td class="table-row-width zero-border zero-padding">
                <div class="col-md-8 center-align-tag">
                  <%= link_to client.fullname, "#", class: "show-client-events client-event-anchor-design", data: { id: client.id, photographer_id: current_photographer.id } %>
                </div>
                <% if client.is_invited?(current_photographer) %> 
                  <div class="col-md-4 center-align-tag">
                     <%= link_to 'Invite',"#", class: "btn btn-uploadimage1 invite-client-again", style: "margin-top: 10px; border: 1px solid #ccc;", data: { id: client.id } %>
                   </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="button button4 client_management_popup" data-id= "add_client" data-popup="add_client_popup" data-client-id= "" ><i class="fa fa-plus-circle"></i> Add Client</button>
    </div>
    <div id="add_client_popup" style="z-index: 9999">
      <div id="popupContact">
        <div id="add_client"></div>  
      </div>
    </div>
  </div>

  <div id="edit_client_popup" style="z-index: 9999; display: none">
    <div id="popupContact">
      <div class="edit-package-form"></div>
    </div>
  </div>
  <div class="events-section"></div>
</div>
<div id="signup_buttons_popup" style="z-index: 9999; display: none">
  <div class="sign-up-popup" id="popupContact">
    <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "signup_buttons_popup" } %>
    <div>
    <%= form_tag photographer_import_clients_csv_path(photographer_id: current_photographer.id), class: "form-calandar-popup", multipart: true do %>
      <center><h2 class="form-calandar-popup-heading-top">Import Contacts</h2></center>
      <input id="uploadFile" class= "first-field name-field zero-border choosed-file" disabled="disabled"/>
      <div class="fileUpload btn btn-primary input-csv-btn">
        <span>Upload Image</span>
        <%= file_field_tag :file, class: "upload btn", id: "uploadBtn" %>
      </div>
      <%= submit_tag "Import", class:"button button4 btn-csv-width-adj border-solid-form" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $( "#uploadBtn" ).change(function() {
      $("#uploadFile").val($(this).val());
    };
  });
</script>