<div class="container">
  <div class="col-md-3">
    <h1 class="heading-clientlist">My Clients</h1>
    <div>
      <table class="table header-fixed">
        <thead>
          <tr class="Profile-heading">
            <div>
              <th class="table-row-width" style="background-color: #003366;color: #fff;border-bottom-width: 0px;">
                <div id="container">
                  <div id="navi">Client Name</div>
                  <div id="infoi">
                    <form class="searchbox">
                      <input type="search" placeholder="Search......" name="search" class="searchbox-input color-picker" onkeyup="buttonUp();" required>
                      <input type="submit" class="searchbox-submit" value="GO">
                      <span class="searchbox-icon"><i class="fa  fa-search" style="font-size: 21px;color: #fff;"></i></span> 
                    </form>
                  </div>
                </div>
              </th>
            </div>
          </tr>
        </thead>
        <tbody class="client-table-setting">
          <% if @clients.blank? %>
            <tr>
              <td class="empty-tb-setting">
                No Client Found
              </td>
            </tr>
          <% end %>
          <% @clients.each do |client| %>
            <%cls = @path.present? && @path[:client_id] == client.id.to_s ? 'tr-selected' : "" %>
            <% abc = cls == "tr-selected" ? "abc" : ""%>
            <% if @path.present? && @path[:action] == "index" %>
              <% abc = "" %>
            <% end %>
            <tr class="photographer-clients-list <%= cls %> <%= abc %>">
              <td class="table-row-width zero-border zero-padding">
                <div class="col-md-7 center-align-tag">
                  <%= link_to client.fullname, "#", class: "show-client-events client-event-anchor-design", data: { id: client.id } %>
                </div>
                <div class="col-md-5 button-styling-clint-box-alignment">
                  <button class="client-id" type="button" style="background-color: Transparent;background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline:none;width: 45%;height: 30px;" id="popup" data-client="<%= client.id %>" data-id= "edit_client_popup" data=c = "<%= client.id %>" class="popup edit_client_package"><i class="fa  fa-edit btn-edit" style="font-size: 16px;color: #ddd;"></i></button>
                  <!-- <button type="button" style="background-color: Transparent;background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline:none;width: 45%;height: 30px;"><i class="fa  fa-times btn-del" style="font-size: 16px;color: #ddd;"></i></button> -->
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="button button4 popup" id="popup" data-id= "abc2" ><i class="fa fa-plus-circle"></i> Add Client</button>
    </div>
    <div id="abc2" style="z-index: 9999">
    <!-- Popup Div Starts Here -->
      <div id="popupContact" class="form-calandar-popup-loc">
        <%= image_tag ("close1.png"), class: "close cal-close", data: { id: "abc2" } %>
  <!-- Contact Us Form -->
        <%= form_for Client.new, url: connect_client_clients_path, method: :post, html: { id: "add-client-model", class: "form-action connect-client-form form-calandar-popup" }, validate: true do |f| %>
          <center><h2 class="form-calandar-popup-heading-top"> Add a Client</h2></center>
          <fieldset class="form-calandar-popup-fieldset">
              <div>
                <div class="col-md-12 left-padding-thirty">
                  <%= f.text_field :email, autocomplete: :off, autofocus: true, placeholder: "Email", class: "first-field client_fields search_client_email client_fields_calandar fl", style: "border: 1px solid #cccccc !important;" %>
                  <p class="email-error-p-tag">can't be blank</p>
                </div>
                <div class="searched_email row"></div>
                <div class="client-autofilled-fields">
                  <%= render partial: "clients/client_autofilled_fields", locals: { f: f, client: nil } %>
                </div>
                <div class="col-md-10 left-padding-thirty right-padding-twenty-four">
                  <button type="submit"  class="button button4 bt-add-cli btn-client-magin-zero connect-with-client"><i class="fa fa-plus-circle btn-margin-right-ten"></i>Create Client </button>
                </div>
              </div>
        </fieldset>
        <% end %>
      </div>
  <!-- Popup Div Ends Here -->
    </div>
  </div>

  <div id="edit_client_popup" style="z-index: 9999; display: none">
    <div id="popupContact">
      <div class="edit-package-form"></div>
    </div>
  </div>
  <div class="events-section"></div>
  
</div>
