<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to image_tag("logo.png",class: "navbar-brand"), default_url %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav pull-right">
          <% if current_photographer %>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 12px;padding-bottom: 6px;"><%= image_tag("Clients.png", class: "img-circle img-setting-header") %><%= @page_name %> <span class="caret"></span></a>
              <ul class="dropdown-menu ul-padding" style="margin-left:15px;">
                <li class="name-prof1"><%= link_to "Studio Management", photographer_path(current_photographer), class: "header-ul-list-setting" %></li>
                <li class="name-prof1"><%= link_to "Client Management", photographer_clients_path(current_photographer), class: "header-ul-list-setting" %></li>
                <li class="name-prof1"><%= link_to "My Calender", photographer_events_info_path(current_photographer), class: "header-ul-list-setting" %></li>
                <li class="name-prof1"><%= link_to "My Albums", photographer_albums_path(current_photographer), class: "header-ul-list-setting" %></li>
                <li class="name-prof1"><%= link_to "All Settings", settings_photographer_path(current_photographer), class: "header-ul-list-setting" %></li>
              </ul>
            </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 12px;padding-bottom: 6px;margin-right: 100px;"><%= image_tag (current_photographer.avatar), class: "img-circle", style: "width:30px;height:30px;" %>
           <span class="profile-name-set"><%= current_photographer.firstname.titleize %></span><span class="caret"></span></a>
            <ul class="dropdown-menu ul-padding" style="margin-left: 15px;width: 100px;">
              <li class="name-prof1"><%= link_to('Logout', destroy_photographer_session_path, :method => :delete ,class: "logout-btn-prof") %></li>
            </ul>
          </li>
          <% elsif current_client %>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="padding-top: 12px;padding-bottom: 6px;margin-right: 100px;"><%= image_tag (current_client.avatar), class: "img-circle", style: "width:30px;height:30px;" %>
            <span class="profile-name-set"><%= current_client.firstname.titleize %></span><span class="caret"></span></a>
            <ul class="dropdown-menu ul-padding" style="margin-left: 15px;width: 100px;">
              <li class="name-prof1"><%= link_to('Logout', destroy_client_session_path, :method => :delete ,class: "logout-btn-prof") %></li>
            </ul>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
