<!DOCTYPE html>
<html>
<head>
  <title>Piccati</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag  'custom', :media => 'screen' %>
  <%= csrf_meta_tags %> 
 </head>
<body>
  
<%= render 'layouts/header' %>
<%= yield %>
</body>
<%= render 'layouts/footer' %>
</html>
