<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag  'custom', :media => 'screen' %>
  
  
  <%= csrf_meta_tags %>
 </head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
</body>
</html>
